# =========================
# Build
# =========================
build/
out/
bin/
bin-int/

# =========================
# Object files
# =========================
*.o
*.obj
*.lo
*.slo

# =========================
# Precompiled Headers
# =========================
*.gch
*.pch

# =========================
# Libraries
# =========================
*.a
*.lib
*.so
*.dylib
*.dll

# =========================
# Executables
# =========================
*.exe
*.out
*.app

# =========================
# Debug
# =========================
*.pdb
*.ilk
*.dwo

# =========================
# Visual Studio
# =========================
.vs/
*.vcxproj.user
*.vcxproj.filters
*.sln.docstates
*.opensdf
*.sdf
*.cache

# =========================
# CMake
# =========================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

# =========================
# Logs / temp
# =========================
*.log
*.tmp
*.temp

# =========================
# OS
# =========================
.DS_Store
Thumbs.db